<div class="wrapper container">
  @if (this.ownedBooks().length > 0) {
    <h2>Books you uploaded</h2>
    <hr />

    <section class="owner shelf">
      <div class="covers" appDragscroll>
        @for (book of this.ownedBooks(); track $index) {
          <div class="cover">
            @if (!book.imageError) {
              <img
                (error)="onImageError(book)"
                [src]="`${this.API_URL}${book.cover_image_url}`"
              />
            } @else {
              <p>{{ book.title }}</p>
            }
            <div class="overlay">
              <p-button
                label="View"
                icon="pi pi-search"
                severity="secondary"
                [routerLink]="`/book/${book.id}`"
              ></p-button>

              <p-button
                label="Delete"
                icon="pi pi-trash"
                severity="danger"
                (onClick)="deleteBook(book)"
              ></p-button>
            </div>
          </div>
        }
      </div>
      <div class="titles">
        @for (book of this.ownedBooks(); track $index) {
          <div class="title">
            <h5>{{ book.title }}</h5>
          </div>
        }
      </div>
    </section>
  }

  @if (this.readBooks().length > 0) {
    <h2>Books you found</h2>
    <hr />
    <section class="finder shelf">
      <div class="covers" appDragscroll>
        @for (book of this.readBooks(); track $index) {
          <div class="cover">
            @if (!book.imageError) {
              <img
                (error)="onImageError(book)"
                [src]="`${this.API_URL}${book.cover_image_url}`"
              />
            } @else {
              <p>{{ book.title }}</p>
            }
            <div class="overlay">
              <p-button
                label="View"
                icon="pi pi-search"
                severity="secondary"
                [routerLink]="`/book/${book.id}`"
              ></p-button>
            </div>
          </div>
        }
      </div>
      <div class="titles">
        @for (book of this.readBooks(); track $index) {
          <div class="title">
            <h5>{{ book.title }}</h5>
          </div>
        }
      </div>
    </section>
  }

  @if (this.ownedBooks().length == 0 && this.readBooks().length == 0) {
    <h2>You haven't uploaded or found any books yet</h2>
    <hr />
    <p class="text-center">
      Upload your first book by clicking the plus button on the top right corner
      of the screen.
    </p>
  }
</div>
