<div class="wrapper container">
  @if (this.ownedBooks().length > 0) {
    <h2>Books you uploaded</h2>
    <hr />

    <section class="owner shelf">
      <div class="covers" appDragscroll>
        @for (book of this.ownedBooks(); track $index) {
          <div class="cover">
            @if (!book.imageError) {
              <img
                (error)="onImageError(book)"
                [src]="`${this.API_URL}${book.cover_image_url}`"
              />
            } @else {
              <p>{{ book.title }}</p>
            }
          </div>
        }
      </div>
      <div class="titles">
        @for (book of this.ownedBooks(); track $index) {
          <div class="title">
            <h5>{{ book.title }}</h5>
          </div>
        }
      </div>
    </section>
  }

  @if (this.readBooks().length > 0) {
    <h2>Books you found</h2>
    <hr />
    <section class="finder shelf">
      <div class="covers" appDragscroll>
        @for (book of this.readBooks(); track $index) {
          <div class="cover">
            @if (!book.imageError) {
              <img (error)="onImageError(book)" [src]="book.cover_image_url" />
            } @else {
              <p>{{ book.title }}</p>
            }
          </div>
        }
      </div>
      <div class="titles">
        @for (book of this.readBooks(); track $index) {
          <div class="title">
            <h5>{{ book.title }}</h5>
          </div>
        }
      </div>
    </section>
  }
</div>
