@use "../../styles/index" as *;

.wrapper {
  margin-top: $pageTopMargin;

  hr {
    width: 10rem;
    margin-bottom: $spacingMedium;
  }

  h2 {
    text-align: center;
    margin-top: $spacingLarge;
    margin-bottom: $spacingMedium;
  }

  .shelf {
    display: flex;
    flex-direction: column;
    .covers,
    .titles {
      display: flex;
      flex-wrap: nowrap;
      gap: $spacingLarge;

      .cover,
      .title {
        min-width: 15rem;
        max-width: 15rem;
      }
    }

    .covers {
      align-self: center;
      width: 95%;
      overflow-x: scroll;
      clip-path: inset(-100% -100% 0 -100%); // box shadow overflow fix
      scrollbar-color: transparent transparent;
      scrollbar-width: none;
      .cover {
        height: 20rem;
        background-color: var(--p-surface-300);
        box-shadow: 0.7rem 1rem 0.7rem rgba(0, 0, 0, 0.1);
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        p {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 100%;
          text-align: center;
          font-size: $fontSizeLarger;
          margin: 0;
          padding: 0 $spacingSmall;
        }
      }
    }

    .titles {
      background-color: var(--p-primary-100);
      color: var(--p-primary-900);
      border-radius: $borderRadiusSmall;
      box-shadow:
        0.2rem 0.6rem 1rem rgba(0, 0, 0, 0.1),
        inset -0.1rem -0.1rem 0.7rem var(--p-primary-300),
        inset 0.2rem 0.5rem 0.7rem rgba(255, 255, 255, 1);
      .title h5 {
        text-align: center;
        color: transparent;
        margin: 0;
        padding: $spacingSmall;
      }
    }
  }
}
