<!-- <p-button label="Button"></p-button>
  <h1>H1 - DM Sans, Bold, 48/62</h1>
  <h2>Ledger, Regular, 40/56</h2>
  <h3>Ledger, Regular, 36/48</h3>
  <h4>DM Sans, Medium, 32/40</h4>
  <h5>DM Sans, Medium, 24/32</h5>
  <p>DM Sans, Medium 16/24</p> -->
<app-navbar class="app-navbar"></app-navbar>
<div class="qr-code" routerLink="/scan-qr">
  <i class="pi pi-qrcode"></i>
</div>

<div class="app-wrapper">
  <app-login-dialog
    [visible]="authDialogService.loginVisible()"
    (visibleChange)="authDialogService.loginVisible.set($event)"
  ></app-login-dialog>
  <app-signup-dialog
    [visible]="authDialogService.signUpVisible()"
    (visibleChange)="authDialogService.signUpVisible.set($event)"
  ></app-signup-dialog>
  <router-outlet></router-outlet>
</div>
