<div class="wrapper">
  <div class="book-event-card">
    <div class="info-wrapper">
      <p class="event-info">
        <span class="event-created-at">2026.01.01</span>
        <span class="event-owner">Janoska</span>
      </p>

      <p class="location"><i class="pi pi-map-marker"></i> London, UK</p>
      <p-rating
        class="rating"
        [(ngModel)]="bookRating"
        readonly="true"
      ></p-rating>
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        potenti. Sed eget est eu ex volutpat facilisis. Donec velit dui, euismod
        eget, ultricies vitae, aliquet in, tellus. Nullam velit nisi, pretium
        vitae, ultricies in, elementum id, risus. Donec euismod, nisi eu
        facilisis tincidunt, purus urna pretium nisl, et scelerisque magna
        lectus vel arcu. Sed eget est eu ex volutpat facilisis. Donec velit dui,
        euismod eget, ultricies vitae, aliquet in, tellus. Nullam velit nisi,
        pretium vitae, ultricies in, elementum id, risus.
      </p>
    </div>
    <div class="image-wrapper">
      <img src="assets/fogosszar.webp" />
    </div>
  </div>
</div>
