<div class="wrapper">
  <div class="book-event-card">
    <div class="info-wrapper">
      <p class="event-info">
        <span class="event-created-at">{{
          bookEvent().created_at | date
        }}</span>
        <span class="event-owner">{{ bookEvent().user_name }}</span>
      </p>

      <p class="location">
        <i class="pi pi-map-marker"></i> {{ bookEvent().location }}
      </p>
      <p-rating
        class="rating"
        [(ngModel)]="bookRating"
        readonly="true"
      ></p-rating>
      <p class="description">
        {{ bookEvent().description }}
      </p>
    </div>
    <div class="image-wrapper">
      <img src="assets/fogosszar.webp" />
    </div>
  </div>
</div>
