@use "../../styles/index" as *;

.wrapper {
  background-color: var(--p-surface-0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: $boxShadowMedium;
  z-index: 1;
}

.navbar {
  padding: $spacingSmall $spacingMedium;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    letter-spacing: -1px;
    font-size: $fontSizeLarge;
    font-weight: $fontWeightBold;
    color: var(--p-primary-950);
    margin: 0;
    cursor: pointer;
  }

  .nav-links {
    display: flex;
    align-items: center;
    margin: 0;
    gap: $spacingMedium;

    .nav-link {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      i {
        color: var(--p-primary-950);
        font-size: $fontSizeMedium;
        transition: $transitionFast;

        &:hover {
          color: var(--p-primary-600);
          transition: $transitionFast;
        }
      }
    }

    .wallet-connected {
      background-color: var(--p-surface-800);
      color: var(--p-primary-50);
      padding: $spacingSmall / 2;
      border-radius: $borderRadiusSmall;
      display: flex;
      align-items: center;
      gap: $spacingSmall;
      cursor: default;

      .disconnect-icon {
        display: none;
      }

      &:hover {
        background-color: var(--p-red-800);
        color: var(--p-red-50);
        cursor: pointer;

        .wallet-icon {
          display: none;
        }
        .disconnect-icon {
          display: inline;
          color: var(--p-red-50);
        }
      }

      i {
        color: var(--p-primary-50);
        &:hover {
          color: var(--p-red-50);
        }
      }

      .wallet-address {
        font-size: $fontSizeSmallest;
        font-weight: 600;
      }
    }
  }
}

@media (max-width: $breakpoint-lg) {
  nav {
    padding: $spacingSmall $spacingLarger;
  }
}

@media (max-width: $breakpoint-md) {
  nav {
    padding: $spacingSmall $spacingLarge;
  }
}

@media (max-width: $breakpoint-sm) {
  nav {
    padding: $spacingSmall $spacingMedium;
  }
}
