<div class="wrapper">
  <div class="navbar container">
    <p class="logo" routerLink="/">FootNote</p>
    <ul class="nav-links">
      <li class="nav-link" routerLink="/add-book">
        <i class="pi pi-plus-circle"></i>
      </li>
      <li class="nav-link" routerLink="/discover">
        <i class="pi pi-compass"></i>
      </li>
      <li class="nav-link" routerLink="/my-books">
        <i class="pi pi-bookmark"></i>
      </li>
      <!-- <li class="nav-link" routerLink="/profile"><i class="pi pi-user"></i></li> -->

      @if (isLoggedIn()) {
        <li class="nav-link" (click)="onLogout()">
          <i class="pi pi-sign-out"></i>
        </li>
      } @else {
        <li class="nav-link" (click)="showDialog()">
          <i class="pi pi-sign-in"></i>
        </li>
      }
    </ul>
  </div>
</div>
