<div class="wrapper">
  <div class="navbar container">
    <p class="logo" routerLink="/">FootNote</p>
    <ul class="nav-links">
      <li class="nav-link" routerLink="/add-book">
        <i class="pi pi-plus-circle"></i>
      </li>
      <li class="nav-link" routerLink="/discover">
        <i class="pi pi-compass"></i>
      </li>
      <li class="nav-link" routerLink="/my-books">
        <i class="pi pi-bookmark"></i>
      </li>
      <!-- <li class="nav-link" routerLink="/profile"><i class="pi pi-user"></i></li> -->

      @if (web3Service.isConnected()) {
        <li
          class="nav-link wallet-connected"
          [title]="web3Service.walletAddress()!"
          (click)="disconnectWallet()"
        >
          <i class="pi pi-wallet wallet-icon"></i>
          <i class="pi pi-times-circle disconnect-icon"></i>
          <span class="wallet-address">
            {{ web3Service.walletAddress()!.slice(0, 6) }}...{{
              web3Service.walletAddress()!.slice(-4)
            }}
          </span>
        </li>
      } @else {
        <li class="nav-link" (click)="connectWallet()">
          <i class="pi pi-wallet"></i>
        </li>
      }

      @if (isLoggedIn()) {
        <li class="nav-link" (click)="onLogout()">
          <i class="pi pi-sign-out"></i>
        </li>
      } @else {
        <li class="nav-link" (click)="showDialog()">
          <i class="pi pi-sign-in"></i>
        </li>
      }
    </ul>
  </div>
</div>
