<div class="hero-wrapper">
  <div class="hero-layout">
    <div class="shelves left">
      <!-- <img class="top-shelf-image" src="assets/top_shelf.png" alt="top-shelf" /> -->
      <img
        class="bottom-shelf-image"
        src="assets/bottom_shelf.png"
        alt="bottom-shelf"
      />
    </div>

    <div class="hero">
      <h1>This Month</h1>
      <hr />
      <p class="subtitle">
        The top three most popular books of the month among more than 33 million
        readers.
      </p>
      <p-button
        label="Read More"
        variant="outlined"
        severity="contrast"
      ></p-button>

      <div class="popular-books">
        <div class="book">
          <img
            class="book-2-cover"
            src="assets/cover_template_2.jpg"
            alt="Book 2"
          />
          <div class="book-info">
            <h3>Onyx Storm</h3>
            <p>Rebecca Yarros</p>
          </div>
        </div>
        <div class="book">
          <img
            class="book-1-cover"
            src="assets/cover_template_1.jpg"
            alt="Book 1"
          />
          <div class="book-info">
            <h3>Secrets Of Productive People</h3>
            <p>Mark Forster</p>
          </div>
        </div>
        <div class="book">
          <img
            class="book-3-cover"
            src="assets/cover_template_3.jpg"
            alt="Book 3"
          />
          <div class="book-info">
            <h3>A Song Begins</h3>
            <p>Mary Burchell</p>
          </div>
        </div>
      </div>
    </div>

    <div class="shelves right">
      <img src="assets/middle_shelf.png" alt="middle-shelf" />
    </div>
  </div>
</div>

<div class="test">
  <h1>fasz</h1>
</div>
