@use "../../styles/index" as *;

.hero-wrapper {
  background-color: var(--p-primary-100);
  padding: $spacingLarger 0;
  .hero-layout {
    display: flex;
    justify-content: space-between;
    gap: $spacingLarge;
    .shelves {
      img {
        width: 18rem;
        max-width: 100%;
      }

      &.left {
        display: flex;
        align-items: end;
        transform: translateY(-5rem);
      }

      &.right {
        img {
          transform: translateY(5rem);
        }
      }
    }

    .hero {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h1 {
        text-align: center;
        margin: 0 0 $spacingMedium 0;
      }

      hr {
        width: 10rem;
      }

      .subtitle {
        text-align: center;
        margin: $spacingMedium 0;
        max-width: 25rem;
      }

      .popular-books {
        margin-top: $spacingLarge;
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: center;
        gap: $spacingLarge;

        .book {
          img {
            height: 16em;
            box-shadow: $boxShadowHeavy;
          }

          img.book-1-cover {
            height: 18rem;
          }

          .book-info {
            display: none;
          }
        }
      }
    }
  }
}

.tracking-wrapper {
  background-color: var(--p-surface-0);
  background-image: url("../../../../public/assets/map_pattern_big.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &__content {
    backdrop-filter: blur(3px);
  }
}

@media screen and (max-width: $breakpoint-lg) {
  .hero-wrapper {
    .hero-layout {
      justify-content: center;

      .shelves.left,
      .shelves.right {
        display: none;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  .hero-wrapper .hero-layout .hero {
    .popular-books {
      gap: $spacingSmall;
      .book {
        img {
          width: auto;
          height: 10rem;
        }
        img.book-1-cover {
          width: auto;
          height: 12rem;
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .hero-wrapper .hero-layout .hero {
    .popular-books {
      flex-direction: column;
      gap: $spacingMedium;
      .book {
        img,
        img.book-1-cover {
          width: 10rem;
          height: auto;
        }
      }
    }
  }
}
