<section class="hero-wrapper">
  <div class="hero-layout">
    <aside class="shelves left">
      <!-- <img class="top-shelf-image" src="assets/top_shelf.png" alt="top-shelf" /> -->
      <img
        class="bottom-shelf-image"
        src="assets/bottom_shelf.png"
        alt="bottom-shelf"
      />
    </aside>

    <div class="hero">
      <h1>This Month</h1>
      <hr />
      <p class="subtitle">
        The top three most popular books of the month among more than 33 million
        readers.
      </p>
      <p-button
        label="Read More"
        routerLink="/discover"
        variant="outlined"
        severity="contrast"
      ></p-button>

      <div class="popular-books">
        <div class="book">
          <img
            class="book-2-cover"
            src="assets/cover_template_2.jpg"
            alt="Book 2"
          />
          <div class="book-info">
            <h3>Onyx Storm</h3>
            <p>Rebecca Yarros</p>
          </div>
        </div>
        <div class="book">
          <img
            class="book-1-cover"
            src="assets/cover_template_1.jpg"
            alt="Book 1"
          />
          <div class="book-info">
            <h3>Secrets Of Productive People</h3>
            <p>Mark Forster</p>
          </div>
        </div>
        <div class="book">
          <img
            class="book-3-cover"
            src="assets/cover_template_3.jpg"
            alt="Book 3"
          />
          <div class="book-info">
            <h3>A Song Begins</h3>
            <p>Mary Burchell</p>
          </div>
        </div>
      </div>
    </div>

    <aside class="shelves right">
      <img src="assets/middle_shelf.png" alt="middle-shelf" />
    </aside>
  </div>
</section>

<section class="map">
  <div class="container">
    <div class="text">
      <div class="header">
        <h1>Track the journey of your books around the world.</h1>
        <hr />
      </div>
      <div class="feature-card">
        <i class="pi pi-qrcode"></i>
        <span>
          Scan a QR code to discover where a book has been, read notes from
          previous readers, and leave your own thoughts behind.
        </span>
      </div>
      <div class="feature-card">
        <i class="pi pi-history"></i>
        <span>
          Follow the path of stories, connect with readers, and watch every book
          build its own transparent, tamper-proof timeline.
        </span>
      </div>
      <div class="feature-card">
        <i class="pi pi-microchip"></i>
        <span>
          Each interaction becomes part of the book’s history, securely verified
          using blockchain technology.
        </span>
      </div>
    </div>
    <div class="map-image">
      <img src="assets/map.png" alt="Map" />
    </div>
  </div>
</section>

<section class="tutorial">
  <div class="container">
    <h1>How to use FootNote</h1>
    <hr />
    <div class="tutorial-cards">
      <div class="tutorial-card add-book">
        <span class="step">1. step</span>
        <i class="pi pi-upload"></i>
        <p>Add a book to your library</p>
      </div>
      <div class="tutorial-card download-qr">
        <span class="step">2. step</span>
        <i class="pi pi-qrcode"></i>
        <p>Download the QR code on the book's page</p>
      </div>
      <div class="tutorial-card place-bookmark">
        <span class="step">3. step</span>
        <i class="pi pi-book"></i>
        <p>Print the bookmark and place it in the book</p>
      </div>
      <div class="tutorial-card give-book">
        <span class="step">4. step</span>
        <i class="pi pi-send"></i>
        <p>Pass the book on to someone else</p>
      </div>
    </div>

    <h4>Or</h4>
    <hr />

    <div class="tutorial-cards">
      <div class="tutorial-card add-book">
        <span class="step">1. step</span>
        <i class="pi pi-qrcode"></i>
        <p>Scan the QR code on the bookmark you found</p>
      </div>
      <div class="tutorial-card download-qr">
        <span class="step">2. step</span>
        <i class="pi pi-calendar-plus"></i>
        <p>
          Share your thoughts on the book, and they will be added to the book's
          history
        </p>
      </div>
      <div class="tutorial-card place-bookmark">
        <span class="step">3. step</span>
        <i class="pi pi-book"></i>
        <p>Leave the bookmark in the book</p>
      </div>
      <div class="tutorial-card give-book">
        <span class="step">4. step</span>
        <i class="pi pi-send"></i>
        <p>Pass the book on to someone else</p>
      </div>
    </div>
  </div>
</section>
