<div class="wrapper">
  <div class="container">
    <div class="tree">
      <div class="parent-row">
        <app-book-card class="parent-card" [book]="this.book()"></app-book-card>
        <div class="verification-badge" [class]="bookVerification()">
          @switch (bookVerification()) {
            @case ("verified") {
              <i pTooltip="Book verified on chain" class="pi pi-verified"></i>
            }
            @case ("tampered") {
              <i
                pTooltip="Book data has been tampered with"
                class="pi pi-exclamation-triangle"
              ></i>
            }
            @case ("not_on_chain") {
              <i pTooltip="Book not on chain" class="pi pi-ban"></i>
            }
            @default {
              <i pTooltip="No info on chain" class="pi pi-question-circle"></i>
            }
          }
        </div>

        <div
          [class]="eventVerifications().get(this.book()?.events?.at(0)?.id!)"
          class="first-event-badge verification-badge"
        >
          @switch (eventVerifications().get(this.book()?.events?.at(0)?.id!)) {
            @case ("verified") {
              <i pTooltip="Event verified on chain" class="pi pi-verified"></i>
            }
            @case ("not_on_chain") {
              <i pTooltip="Event not on chain" class="pi pi-ban"></i>
            }
            @default {
              <i pTooltip="No info on chain" class="pi pi-question-circle"></i>
            }
          }
        </div>
      </div>
      <div class="children">
        @for (event of this.book()?.events; track $index) {
          @if ($index !== 0) {
            <div class="child">
              <app-book-event-card
                [bookEvent]="event"
                class="child-card"
              ></app-book-event-card>
              <div
                class="verification-badge"
                [class]="eventVerifications().get(event.id!)"
              >
                @switch (eventVerifications().get(event.id!)) {
                  @case ("verified") {
                    <i
                      pTooltip="Event verified on chain"
                      class="pi pi-verified"
                    ></i>
                  }
                  @case ("not_on_chain") {
                    <i pTooltip="Event not on chain" class="pi pi-ban"></i>
                  }
                  @default {
                    <i
                      pTooltip="No info on chain"
                      class="pi pi-question-circle"
                    ></i>
                  }
                }
              </div>
            </div>
          }
        }

        <i
          class="pi pi-plus add-event"
          (click)="this.dialogService.showBookEvent()"
        ></i>
      </div>
    </div>
    <div class="mobile-add-event">
      <p-button
        label="Add event"
        icon="pi pi-plus"
        (click)="this.dialogService.showBookEvent()"
      ></p-button>
    </div>
  </div>
</div>

<app-book-event-form
  [visible]="this.dialogService.bookEventVisible()"
  (visibleChange)="this.dialogService.bookEventVisible.set($event)"
  (onSubmit)="this.submitBookEvent($event)"
  [bookId]="bookId"
  [userId]="currentUserId()"
></app-book-event-form>
