@use "../../styles/index" as *;

.wrapper {
  h1 {
    margin-top: $spacingLarger;
  }
  .add-book-form {
    display: flex;
    flex-direction: row;

    .info-inputs {
      display: flex;
      width: 100%;
      flex-direction: column;
      padding: $spacingMedium;
      background-color: var(--p-primary-100);
      .p-rating {
        margin: $spacingSmall 0;
      }

      textarea {
        resize: none;
      }

      p-rating {
        align-self: flex-end;
      }
    }
    .image-upload {
      background-color: var(--p-primary-50);
      padding: $spacingMedium;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: $spacingSmall;
      justify-content: space-between;

      p-button {
        align-self: end;
      }
    }
  }

  small.helper {
    color: var(--p-primary-950);
    font-weight: 300;
    margin-bottom: $spacingSmall;
  }
}
