<div class="wrapper">
  <div class="book-card">
    <div class="left-col">
      <div class="book-card-image">
        <img src="assets/fogosszar.webp" />
      </div>
      <p class="download-qr"><i class="pi pi-download"></i> Download QR code</p>
    </div>
    <div class="middle-col">
      <h2 class="book-title">The Shining</h2>
      <h5 class="author">Stephen King</h5>
      <p-rating
        class="rating"
        readonly="true"
        stars="5"
        [(ngModel)]="bookRating"
      ></p-rating>
      <p class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, odit
        voluptatem. Eaque inventore distinctio in, veritatis maxime porro quasi,
        consequuntur unde illo, tempora sequi. Exercitationem quod reiciendis
        facilis expedita sapiente.
      </p>
      <h4 class="readers"><i class="pi pi-book"></i> 10 Readers</h4>
    </div>

    <div class="right-col">
      <p class="book-owner"><i class="pi pi-user"></i> Janos</p>
      <p class="location"><i class="pi pi-map-marker"></i> Hódmezővásárhely</p>
      <p class="book-added-at"><i class="pi pi-calendar"></i> 2026.01.01</p>
    </div>
  </div>
</div>
